html {
	box-sizing: border-box;
	overflow-y: scroll;
}

*, *:before, *:after {
	box-sizing: inherit;
}

.container, [class^="col"] {
	display: flex;
}

.container {
	width: 100%;
}

.generate-columns(@n, @i: 1) when (@i =< @n) {
	.col-@{i} {
		flex: @i;
	}
	.generate-columns(@n, (@i + 1));
}

.generate-columns(12);
